<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.testrecyclerview">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestRecyclerView"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".previous.PreviousActivity"
            android:exported="true" />
        <activity
            android:name=".settings.PrivateFix"
            android:theme="@style/Theme.Dark"
            android:parentActivityName=".settings.SettingActivity" />
        <activity android:name=".result.FixItemActivity" />
        <activity android:name=".result.FixSearchResult" />
        <activity android:name=".result.ResultSearchActivity"
            android:theme="@style/Theme.Dark"/>
        <activity
            android:name=".result.CameraResult"
            android:theme="@style/Theme.Dark"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".settings.TanDanJiSetting"
            android:theme="@style/Theme.Dark"
            android:parentActivityName=".settings.SettingActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".settings.WaterSetting"
            android:parentActivityName=".settings.SettingActivity"
            android:theme="@style/Theme.Dark"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".settings.SettingActivity"
            android:theme="@style/Theme.Dark"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tutorial.Sex"
            android:theme="@style/Theme.TestRecyclerView.NoActionBar" />
        <activity
            android:name=".tutorial.Age"
            android:theme="@style/Theme.TestRecyclerView.NoActionBar" />
        <activity
            android:name=".tutorial.CurrentHeight"
            android:theme="@style/Theme.TestRecyclerView.NoActionBar" />
        <activity
            android:name=".tutorial.TargetWeight"
            android:theme="@style/Theme.TestRecyclerView.NoActionBar" />
        <activity
            android:name=".tutorial.CurrentWeight"
            android:theme="@style/Theme.TestRecyclerView.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:label="@string/title_activity_main" -->
        <!-- android:theme="@style/Theme.TestRecyclerView.NoActionBar" /> -->
        <activity android:name=".recommend.RecommendResult"
            android:theme="@style/Theme.TestRecyclerView.NoActionBar"/>
        <activity
            android:name=".recommend.RecommendList"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Dark" />
        <activity
            android:name=".search.SearchList"
            android:theme="@style/Theme.Dark" />
        <activity android:name=".search.SearchResult"
            android:theme="@style/Theme.TestRecyclerView.NoActionBar"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.techtown.testrecyclerview.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>